{# {% set height = height ?? 'medium' %} #}
{% set slides = slides ?? block.slides.all() %}
{% set visibleCards = visibleCards ?? '2' %}
{% set class = class ?? null %}
{% set slideHeader = slideHeader ?? null %}
{% set arrows = arrows ?? true %}
{% set marginTop = marginTop ?? 'margin-top' %}
{% set marginBottom = marginBottom ?? 'margin-bottom' %}
{% set fadeIn = fadeIn is defined ? 'fade-in' : '' %}

<div id="{{ slideHeader|kebab }}" class="slider-outer {{ marginTop }} {{ marginBottom }} {{ fadeIn }}" data-cascade>
    {% if slideHeader %}
        <h3 class="slider-header margin-bottom-sm">{{ slideHeader }}</h3>
    {% endif %}
    <div class="slider-container">
        <div class="slider {{ class }} visible-cards-{{ visibleCards }}">
            {% block slides %}
                {% for slide in slides %}
                    {% include slideTemplate with {
                        slide: slide
                    } %}
                {% endfor %}
            {% endblock %}
        </div>
        {% if arrows %}
            {% include '_includes/_icons/arrowPrev' with {
                firstArrow: 'red-arrow',
                secondArrow: 'black-arrow'
            } %}
            {% include '_includes/_icons/arrowNext' with {
                firstArrow: 'red-arrow',
                secondArrow: 'black-arrow'
            } %}
        {% endif %}
    </div>
</div>

