{% set asset = asset ?? null %}
{% set width = width ?? 2560 %}
{% set height = height ?? 1440 %}
{% set format = format ?? 'webp' %}
{% set quality = quality ?? 100 %}
{% set mode = mode ?? 'crop' %}
{% set loopVideo = loopVideo ?? false %}
{% set overlay = overlay ?? null %}

{% if asset %}
    {% if asset.kind == 'video' %}
        <video autoplay {{ loopVideo ? 'loop' }} muted preload="metadata" playsinline webkit-playsinline>
            <source src="{{ asset.url }}" type="{{ asset.mimeType }}">
        </video>
    {% elseif asset.kind == 'image' %}
        {% set transform = [
            {
                asset: asset,
                transform: {
                    width: width,
                    height: height,
                    mode: mode,
                    format: format
                }
            }
        ] %}
        {% set attributes = { quality: quality } %}
        {{ craft.images.pictureMultiple(transform, attributes) }}
    {% endif %}
    
    {% if overlay %}
        <div class="overlay" style="opacity: {{ overlay }};"></div>
    {% endif %}
{% endif %}
