{% extends "index" %}

{% block content %}
<div class="back">
    {% include '_includes/_blocks/button' with {
        link: '/company',
        label: 'Back to all careers',
        firstArrow: 'white-arrow',
        secondArrow: 'white-arrow'
    } %}
</div>
<div class="careers-outer fade-in margin-top-xl margin-bottom" data-cascade>
    <div class="text center-left">
        {% set title = entry.title %}
        {% set words = title|split(' ') %}

        {% if words|length == 1 %}
            <h1 class="one-word">{{ title }}</h1>
        {% else %}
            <h1>{{ title }}</h1>
        {% endif %}
        <h2>{{ entry.office.label }}</h2>
        <div>
            <h3>Description</h3>
            {{ entry.description|replace({'<p>': '<p class="thin">'})|raw }}
        </div>
        <div>
            <h3>Requirements</h3>
            {{ entry.requirements|replace({'<p>': '<p class="thin">'})|raw }}
        </div>
        <div>
            <h3>Duties</h3>
            {{ entry.duties|replace({'<p>': '<p class="thin">'})|raw }}
        </div>
    </div>
    {{ craft.formie.renderForm('careerForm') }}
    {{ craft.formie.renderFormJs('careerForm') }}
    {{ craft.formie.renderFormCss('careerForm') }}
</div>
{% endblock %}