{% extends "index" %}

{% block content %}
<div class="back">
    {% include '_includes/_blocks/button' with {
        link: '/company',
        label: 'Back to all careers',
        firstArrow: 'white-arrow',
        secondArrow: 'white-arrow'
    } %}
</div>
<div class="careers-outer fade-in" data-cascade>
    <div class="text center-left">
        <h1>{{ entry.title }}</h1>
        <div>
            <h3>Description</h3>
            {{ entry.description|replace({'<p>': '<p class="thin">'})|raw }}
        </div>
        <div>
            <h3>Requirements</h3>
            {{ entry.requirements|replace({'<p>': '<p class="thin">'})|raw }}
        </div>
        <div>
            <h3>Duties</h3>
            {{ entry.duties|replace({'<p>': '<p class="thin">'})|raw }}
        </div>
    </div>
    {{ craft.formie.renderForm('careerForm') }}
</div>
{% endblock %}